
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
  color: #D1D1D1;
}

h1 {
  color: red;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

h2,
h3 {
  text-align: center;
}

.container {
  height:720px;
  margin: 0px 0px 20px 0px;
  display: inline-flex;
}

.before {
  background-color: green;
}

.card-body {
  border-color: black;
  max-width: 80%;
  max-height: 78px;
  border-radius: 1px;

}

.timings {
  text-align: right;
  padding-right: 10px;
  width: 100px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size: 0.5em;
  box-sizing: border-box
}

.timings span {
  font-size: 200%;
  color: #696969;
}

.days {
  height: 720px;
  width: 80%;
  padding: 0px 10px;
  background-color: #F0F0F0;
  border-color: #D1D1D1;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 30px;
}

.after {
  background-color: red;
}

.event .title {
  color: #57b986;
  font-size: 200%;
}

.clearButtonDiv {
  text-align: center;
  max-width: auto;
}

.input-group-append {
  margin-bottom: 30px;
  width: 100%;
}

#textArea {
  background-color: 'royalblue' !important;
}